[submodule "phi"]
	path = phi
	url = git@github.com:phiOS-git/phi.git
[submodule "phi-shell"]
	path = phi-shell
	url = git@github.com:phiOS-git/phi-shell.git
[submodule "phi-packages"]
	path = phi-packages
	url = git@github.com:phiOS-git/phi-packages.git
[submodule "phios-dotfiles"]
	path = phios-dotfiles
	url = git@github.com:phiOS-git/phios-dotfiles.git
[submodule "apps/phi-notes"]
	path = apps/phi-notes
	url = git@github.com:phiOS-git/phi-notes
